/* ==========================================================================
   VARIABLES
   ========================================================================== */


/* Colors
   ========================================================================== */
  @color-brown-nut: #783927;
  @color-red-cherry: #e3194b;
  @color-beige-tana: #dddabb;


/* Fonts
   ========================================================================== */
  @font-arial: Arial, sans-serif;


/* Z-index
   ========================================================================== */
  @zindex-root : 2;
  //@zindex-name : (@zindex-root + 1);
